.canvas-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  overflow: "hidden";
}

.canvas-container #main-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}

.canvas-container #secondary-video {
  position: absolute;
  bottom: 100px;
  right: 10px;
  width: 150px;
  height: 200px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

video-player {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.video-button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  /* 
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px; */
}

.audio-button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  /* 
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px; */
}
.call-end {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: red;
  /*
  position: center;
  border: none;
  bottom: 10px;
  font-size: 16px; */
}
.icon {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 12px;
}
